name: Daily Commit Tracker

on:
  schedule:
    - cron: "0 13 * * *"   # Todo dia 13:00 UTC (10:00 Brasil)
  workflow_dispatch:      # Permite rodar manualmente

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip

    - name: Run script
      run: |
        python main.py

    - name: Commit and Push changes
      run: |
        git config user.name "github-actions[bot]"
        git config user.email "github-actions[bot]@users.noreply.github.com"
        git add .
        git commit -m "Automated daily execution" || echo "No changes to commit"
        git push